.team{
 margin: 4em 0;
 position: relative;
}
.team h1{
 color:#F97300;
 margin: 2em;
}
.team .item{
 position: relative;
}
.team .des{
 background: #F97300;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;

}