

{% load static %}

<footer class="footer_area">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-3 col-3 footer_about">
                <h2>Qu'est-ce que Property Rented?</h2>
                <img src="images/footer-logo.png" alt="">
                <p><strong style="color:red">Property Rented est un marché immobilier en ligne visant à réduire le stress lié à la recherche d'un poste vacant en mettant en relation les propriétaires / gestionnaires de propriétés avec les futurs locataires / acheteurs.
                </strong></p>

            </div>
            <div class="col-md-3 col-3 footer_about quick">
                <h2>Liens Rapides</h2>
                <ul class="quick_link">
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Publier mon annonce</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Lancer une recherche premium</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Demandes de la maison Premium</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Lancer une requette premium</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>À propos de nous</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Commentaire</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-3 footer_about">
                <h2>Découvrir</h2>
                <ul class="quick_link">
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Maisons meublées</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Appartements</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Chambres</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Studios</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i>Terrains</a></li>
                </ul>
            </div>
             <div class="col-md-3 col-3 footer_about">
                <h2>Nous couvrons pour l'instant!</h2>
                 <ul class="quick_link">
                     <li><a href="#"><i class="fa fa-chevron-right"></i>N'djamena</a></li>
                 </ul>
            </div>
            <div class="col-md-3 col-3 footer_about">
                <h2>Contacts:</h2>
                <address>
                    <ul class="my_address">
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>propertyrented@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>emmanou245@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+237 693 122 144</a></li>
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Sector # 10, Road # 05, Plot # 31, Emmena, Dhaka 1230 </span></a></li>
                    </ul>
                </address>
        </div>
    </div>
    <div class="from-group text-center">
        <h4>"Property Rented, trouver des maisons vacantes sans stress"</h4>
    </div>
     <!-- Copyright -->
    <div class="text-center p-3 btn-dark" style="background-color: rgba(1, 1, 1, 1.6)">
        © 2021 Copyright:
        Réaliser par   <strong style="color:red">Gong-moga Emmanuel Gaissala</strong>
    </div>
</footer>