{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">CETTE FORMULAIRE PERMET D'AJOUTER UN ANTECEDENT!</h1>
    <div class="p-4 m-4">
        <h1 class="text-center">Ajouter un antecedent de {{personne.nom}}</h1>
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <div class="card card-body">
            <form action="#" method="POST">
                {%csrf_token%}
                 <!-- Nom -->
                {{form.as_p}}
                <!-- Category -->
                <div class="form-group">
                    <label>
                        Choissisez La Personne
                    </label>

                    <select name="categorie_id">
                        {%for personne in liste_personnes%}
                            <option value="{{personne.id}}">{{personne.nom}}</option>
                        {%endfor%}
                    </select>


                </div>
                 <br>

                <div class="form-group">
                    <label>
                        Choissisez La Maison
                    </label>

                    <select name="categorie_id">
                        {%for maison in liste_maisons%}
                            <option value="{{maison.id}}">{{maison.categorie}}</option>
                        {%endfor%}
                    </select>


                </div>
                 <br>
                    <div class="form-group">
                    <label>
                        Choissisez La status
                    </label>

                    <select name="categorie_id">
                        {%for status in status%}
                            <option value="{{maison.id}}">{{maison.categorie}}</option>
                        {%endfor%}
                    </select>


                </div>

                 <br>
                <!-- date de naissance -->

                <div class="form-group">
                    <label for="telephone">telephone</label>
                    <input type="tel" name="telephone" id="telephone"
                           class="form-control form-control-sm" placeholder="666645555">
                </div>
                 <br>
                <!-- Lieu de naissance -->
                <div class="form-group">
                    <label for="Maison">Message</label>
                    <textarea type="text" name="message" id="Maison"
                              class="form-control form-control-sm" placeholder="Ecrivez votre message"></textarea>
                </div>


                <br>

                <div class="form-group">
                    <input type="submit" class="btn btn-sm btn-info" value="Envoyer">
                </div>
            </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}