{% extends 'index.html'%}
{% load static %}
{% block content %}
    <div class="row">
        <div class="form-group">
            <h1 class="alert alert-info p-4 text-center">Bonjour Mme/Mr bienvevu dans notre plate-forme de site-immobilier</h1>

        </div>
    </div>
    <br>
    
    <div class="container center">
        <div class="row center">
            <div class="col-3 img-center">
                <div class="card card-body">
                     <img src="{% static 'images/emma.jpg'%}" style="width:100%" alt="">
                </div>
                <a href="#"><strong style="color:blue"> Savoir plus</strong></a>

            </div>
            <div class="col-5 center">
                <p> Nom :<strong style="color:blue"> Gong-moga</strong></p>
                <p> Prenom :<strong style="color:blue"> Emmanuel</strong></p>
            </div>
        </div>
    </div>



{% endblock %}



