{% extends 'index.html' %}

{% block content %}
<div class="container">
<h1 class="alert alert-secondary p-4 text-small text-center">BIENVENU SUR LA PAGE DE GESTION DETAIL!</h1>
<br>
        <div class="row">
            <div class="col-8">
                <div class="card card-body">
                    <h5>
                        <i class="fa fa-home" aria-hidden="true"></i> Maison:
                    </h5>
                    <hr>
                    <img src="{{maison.photo.url}}" class="progressive-image img-fluid w-100 progressive-image-4"   alt="....">
                </div>
                <br>
                <div class="card card-body">
                <h4 class="alert alert-secondary p-4 text-small text-center"> Informations Sur La Maison:</h4>
                <hr>
                <table class="table table-sm">
                    <tr>
                        <th> Categorie</th>
                        <th> Chambres</th>
                        <th> Prix</th>
                        <th> Dépôt initial</th>
                        <th> Caution</th>
                        <th> Disponibilité vérifié dernierement</th>
                        <th> Ville</th>
                        <th> Quartier</th>
                    </tr>

                    <tr>
                        <th> {{maison.categorie}}</th>
                        <th> {{maison.nombre_chambre}}</th>
                        <th> {{maison.prix}}</th>
                        <th> {{maison.depot_initial}}</th>
                        <th> {{maison.caution}}</th>
                        <th> {{maison.disponibilite}}</th>
                        <th> {{maison.ville}}</th>
                        <th> {{maison.quartier}}</th>
                    </tr>
                </table>

            </div>
            </div>

            <div class="col-4">
                <div class="card card-body">
                <h5 class="alert alert-secondary p-4 text-small"> Si vous etes intéressé par le propriété veuillez remplir le formulaire si dessous et Lancer!:</h5>
                    <hr>
                    <form action="#" method="POST">
                        {%csrf_token%}
                         <!-- Nom -->
                        <!-- Category -->
                        <div class="form-group">

                            <label for="Description"><i class="fa fa-comment" aria-hidden="true"></i>
                            Message</label>
                            <textarea name="message"
                                      id="Description"
                                      class="form-control form-control"
                                      placeholder="Ecrire un message au propriétaire"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="telephone"><i class="fa fa-phone" aria-hidden="true"></i>
                            telephone</label>
                            <input type="tel" name="telephone" id="telephone"
                                   class="form-control form-control" placeholder="exemple:65865412">
                        </div>


                        <br>

                        <div class="form-group">
                            <button class="form-control form-control btn-primary btn-block" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Lancer La Demande</button>
                        </div>
                    </form>
                    <hr>
                    <div class="form-group">
                        <p class="alert alert-secondary p-4 text-small"> Si vous avez des inquiétudes, contactez-nous via +237693122144 ou immobilierrenter2021@gmail.com </p>
                    </div>
                </div>
                <br>
                 <a  class="form-control form-control btn-primary btn-block text-center" href="{% url 'index' %}">
                     <i class="fa fa-paper-plane" aria-hidden="true"></i> Retour en arriére</a>
            </div>
        </div>
</div>

{% endblock %}