{% extends 'index.html'%}

{% block content %}
<h1 class="text-center">ADMINISTRATION DU SYSTEME DE GESTION D'IMMOBILIER!</h1>

<div class="container">
    <h1 class="text-center">BIENVENU SUR LA PAGE SECONNECTER</h1>
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">SECONNECTER</h3>
            <form action="/login" method="POST">
                {%csrf_token%}
                 <!-- Nom -->
                {% if error%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}

                <!-- Nom d'utilisateur -->
                <div class="form-group">
                    <label for="user"><i class="fa fa-user" aria-hidden="true"></i>
                Nom d'utilisateur</label>
                    <input type="text" name="username" id="user" value="{{value.username}}"
                           class="form-control form-control" placeholder="Nom d'utilisateur">
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="Password"><i class="fa fa-lock" aria-hidden="true"></i>
                    Password</label>
                    <input type="password" name="password" id="Password"
                           class="form-control form-control" placeholder="********">
                </div>
                <!-- SECONNECTER -->
                <br>

                <div class="form-group">

                    <button type="submit" class="btn btn-sm btn-green" value="SECONNECTER"><i class="fa fa-sign-in" aria-hidden="true"></i>
                        Seconnecter</button>

                    <a class="btn btn-sm btn-secondary" href="signup"><i class="fa fa-registered" aria-hidden="true"></i>
                S'Inscrire</a>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}>