{% extends 'index.html'%}
{% load static %}
{% block content %}
<div class="container-fluid mt-3 text-center">
    <div class="form-control form-control btn-secondary btn-block">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <h2 class="alert alert-dark p-4 text-center"><strong style="color:blue">UNITE</strong></h2>
                </div>
            </div>
            <br>
            <div class="col-4">
                <div class="form-group">
                    <h2 class="alert alert-dark p-4 text-center"><strong style="color:rgb(208, 255, 0)">TAVAIL</strong>
                    </h2>
                </div>
            </div>
            <br>
            <div class="col-4">
                <div class="form-group">
                    <h2 class="alert alert-primary p-4 text-center"><strong style="color:rgb(255, 0, 0)">PROGRES</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h2 class="alert alert-secondary p-4 text-center"><strong style="color:blue">ADMINISTRATION DU SYSTEME DE GESTION D'IMMOBILIER!</strong></h2>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <h2> <strong style="color:rgb(219, 219, 233)">OBJECTIFS DE LA PLATE-FORME</strong></h2>
                </div>
                <br>
                <div class="col-12 text-center">
                    <h3><strong style="color:rgb(208, 255, 0)"> Chers Locataires ou Bailers</strong></h3><br>
                    <h5><strong style="color:rgb(208, 255, 0)">
                            Bienvenue dans notre site. Ce site vous permettra de trouver ou de poster vos Propriété ou Maison sans stress
                        dans toutes les grandes ville du Tchad. Si vous et
                        votre famille êtes nouveaux dans la ville ou dans le quartier, vous avez
                        probablement des problemes à trouver un appartement ou un studio ou chambre à louer ou à acheter. Ce pourquoi
                        nous avons mis cette plate-forme à votre guis pour faciliter votre recherche!
                    <br>
                       Pour les Bailers, nous avons constater que vous depensez enormement pour construire vos propriété et si ça reste vacante ce n'est pas rentable alors qu'ils y'a des lautaires qui pouvaient occuper cela.
                        En publiant vos annonce sur PROPERTY RENTED vous saurez vide des preneurs! nous sommes ravis de vous aidez Mme/Mr.
                        </strong>
                    </h5>
                    <h5><strong style="color:rgb(208, 255, 0)"> Avant tout veuillez creer compte pour vous connectez au systeme, si vous avez dejà un compte dans notre plate-forme veuillez vous connectez pour acceder aux maisons de vos reve!</strong></h5>
                    <h5><strong style="color:rgb(208, 255, 0)">Sinons cliquez juste sur le bouton Inscription ou sur le bouton creer_compte qui est en haut, pour creer un compte dans notre plate-forme avant de connecter au systeme!</strong></h5>
                </div>
                <br>

                <div class="col-12 text-center">
                    <a href="#" class="btn btn-primary button_all" style="margin:4%">Suggestions ?</a>
                </div>
            </div>
            <br>
            <div class="container-center">
                <div class="col-12">
                    <div class="form-group">
                        <h3 class="alert alert-secondary p-4 text-center"><strong style="color:blue">FORMULAIRE DE CONNEXION!</strong></h3>
                    </div>
                </div>
            </div>
            <br>
            <div class="container text-center">
                    <div class="col-12 border rounded">
                        <h3 class="alert btn-sm alert-secondary border rounded text-center"><strong style="color:red">SECONNECTER</strong></h3>
                        <form action="/login" method="POST">
                            {%csrf_token%}

                            <!-- Nom -->
                            {% if error%}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                            {% endif %}

                            <!-- Nom d'utilisateur -->
                            <div class="input-group mb-3 text-center">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white" id="basic-addon1"><i
                                            class="ti-user"></i></span>
                                </div>
                                <input name="username" type="text" class="form-control form-control-lg alert-secondary"
                                       placeholder="Nom d'utilisateur" aria-label="username"
                                       aria-describedby="basic-addon1"
                                       required value="{{username}}">
                            </div>

                            <!-- Password -->
                            <div class="input-group mb-3 text-center">
                                <div class="input-group-prepend">
                                    <span class="input-group-text btn-sm bg-danger text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                </div>
                                <input name="password" type="password" class="form-control form-control-lg alert btn-sm alert-secondary"
                                       placeholder="Mot de passe" aria-label="password" aria-describedby="basic-addon1"
                                       required maxLength="256" minLength="4">
                            </div>

                            <br>
                            <!-- SECONNECTER -->
                            <div class="form-group text-center">
                                <button class="btn btn-warning" type="submit">Valider
                                </button>
                            </div>
                            <br>
                        </form>
                        <div class="form-group text-center">
                            <h5><strong style="color:rgb(208, 255, 0)">Vous etes nouveau?</strong><a href="signup">Cliquez ici pour S'Inscription</a></h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}>