
{% load static %}

<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">

        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">


             <div class="alert alert-dark border rounded">
                <li class="nav-item d-none d-md-block">
                    <button class="alert alert-info border rounded" role="button"><i class="fa fa-home"
                                                                                     aria-hidden="true"></i>
                        <strong style="color:blue">AGENCE D'IMMOBILIER!</strong></button>
                </li>
            </div>



            <ul class="navbar-nav float-left mr-auto">


            </ul>
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->

            <ul class="navbar-nav float-right">
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-bell font-24"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> <i class="font-24 mdi mdi-comment-processing"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                        <ul class="list-style-none">
                            <li>
                                <div class="">
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                            <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Event today</h5>
                                                <span class="mail-desc">Just a reminder that event</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                            <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Settings</h5>
                                                <span class="mail-desc">You can customize this template</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                            <span class="btn btn-primary btn-circle"><i class="ti-user"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Pavan kumar</h5>
                                                <span class="mail-desc">Just see the my admin!</span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="javascript:void(0)" class="link border-top">
                                        <div class="d-flex no-block align-items-center p-10">
                                            <span class="btn btn-danger btn-circle"><i class="fa fa-link"></i></span>
                                            <div class="m-l-10">
                                                <h5 class="m-b-0">Luanch Admin</h5>
                                                <span class="mail-desc">Just see the my new admin!</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                            src="{% static 'images/users/1.jpg' %}" alt="user" class="rounded-circle" width="31"></a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated">

                        <a class="alert alert-info border rounded" aria-current="page" href="/"><i class="fa fa-home"
                                                                                                   aria-hidden="true"></i>
                            <strong style="color:blue">Home</strong><span class="sr-only">(current)</span> </a>

                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> <strong
                                style="color:blue"> My Profile</strong></a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> <strong
                                style="color:blue">My Balance</strong></a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> <strong
                                style="color:blue"> Inbox</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>
                            <strong style="color:blue"> Account Setting</strong></a>
                        {%if not user.is_authenticated%}
                        <a class="dropdown-item" href="{% url 'login' %}"><i class="fa fa-sign-in"
                                                                             aria-hidden="true"></i>
                            <strong style="color:blue">Seconnecter</strong></a>
                        <a class="dropdown-item" href="{% url 'signup'%}"><i class="fa fa-registered"
                                                                             aria-hidden="true"></i>
                            <strong style="color:blue">Creer_compte</strong></a>
                        {% endif %}
                        {%if user.is_authenticated%}
                        <a class="dropdown-item"><i class="fa fa-user-circle" aria-hidden="true"></i><strong
                                style="color:red">{{user.username}}</strong></a>
                        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit"><i class="fa fa-power-off"
                                                                           aria-hidden="true"></i>
                                <strong style="color:blue">Deconnexion</strong></button>
                        </form>
                        {% endif %}

                        <div class="p-l-30 p-10"><a href="javascript:void(0)"
                                                    class="btn btn-sm btn-success btn-rounded"> <strong
                                style="color:blue">View Profile</strong></a></div>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>


<div class="p-5 text-center bg-image" style="
      height: 400px;
    ">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarExample01">
            </div>
        </div>
    </nav>

    <div class="mask" style="background-color: rgba(216, 31, 25, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3"><h1 class="text-center">PATE-FORME DE GESTION D'IMMOBILIER</h1></h1>
                <a class="btn btn-outline-light btn-lg" role="button">BIENVENU DANS NOTRE PLATE-FORME PROPERTY RENTED
                    Mme/Mr!</a>
            </div>
        </div>
    </div>
</div>


