{% extends 'index.html'%}
{%load crispy_forms_tags%}
{% block content %}
<div class="mask" style="background-color: rgba(150, 158, 60, 0.952)">
<div class="container">
    <div class="col-12">
        <h1 class="alert alert-info p-4 text-small text-center"><strong style="color:rgb(64, 64, 201)">Creez votre compte pour aller se connecter au système ! afin de trouver la maison de mon rêve ou de poster mes annonces ! Merci ! </strong></h1>
    </div>
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-info p-4 text-center  border rounded">Formulaire D'Inscription</h3>
            <form action="/signup" method="POST">
                {%csrf_token%}
                {% if error%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}
                <!-- Nom d'utilisateur -->
                <div class="form-group">
                    {{form|crispy}}
                </div>

                <!-- CreateAcount -->
                <br>

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-warning" value="Valider">

                </div>
            </form>
            <div class="form-group text-center">
                <h5>Vous avez déjà un compte dans la plate-forme?<a href="login">Cliquez ici pour aller
                    Se connecter</a></h5>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}