{% extends 'index.html'%}

{% block content %}
<div class="mask" style="background-color: rgba(175, 187, 48, 0.74)">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h3> Avez-vous des suggestions à nous apporter? connectez-vous pour acceder au formulaire de suggestion !</h3>
                <a class="btn btn-primary" href="{% url 'login'%}" style="margin:4%">Ok</a>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}