{% extends 'index.html'%}

{% block content%}
<div class="mask" style="background-color: rgba(175, 187, 48, 0.74)">
<div class="container">
     <h1 class="alert alert-info p-4 text-small text-center"><strong style="color:blue">Si vous avez des suggestions à nous apporter, vous pouvez ajouter ça ici ! nous sommes ouverts à toutes les suggestions !</strong></h1>
    <div class="p-4 m-4">
        <div class="col-lg-7 mx-auto border rounded pt-4">
            <div class="form-group">
                <h5 class="alert alert-info p-4 text-small text-center"><strong style="color:red">Formulaire de suggestion!</strong></h5>
            </div>
            <form action="#" method="POST" enctype="multipart/form-data">
                {%csrf_token%}

                {% if error%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}
              
                 <!-- photo de la personne -->
                <div class="form-group">
                        <label for="Photo"><i class="fa fa-user-circle"
                            aria-hidden="true"></i> Votre photo:</label>
                        <input type="file" name="photo" id="Photo"
                               class="form-control form-control-sm" placeholder="Ajouter votre photo">
                </div>

                 <!-- Commentaires -->
                <div class="form-group">

                        <label for="Commentaire"><i class="fa fa-comment" aria-hidden="true"></i>
                            Suggestions:</label>
                        <textarea name="commentaire"
                                      id="Commentaire"
                                      class="form-control form-control btn-light"
                                      placeholder="Ajouter vos suggetions ici!"></textarea>
                </div>


                <!-- publier -->
                <br>

                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Publier</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}